doctype html

title comments 注释

html(lang="en")

h1 comments 注释
p 缓冲注释看起来与单行JavaScript注释一样。
p 它们的作用有点像标记标记，在呈现的页面中生成HTML注释。
p 与标记一样，缓冲注释必须出现在它们自己的行上。

hr 

// 这是一行注释
p 一行文字
p 有一行文字
// 注释结尾了

hr  

p Pug还支持未缓冲的注释。只需在注释的开头添加连字符(-)。
p 这些代码仅用于对Pug代码本身进行注释，不会出现在呈现的HTML中。
//- 这个注释不会渲染出来


h1 black comments 块注释
div 注释看不到
    //-
        块注释需要在新的一行写，不然就是单行注释
        块注释需要在新的一行写，不然就是单行注释
        块注释需要在新的一行写，不然就是单行注释
        块注释需要在新的一行写，不然就是单行注释
    //
        这个多行的块注释
        这个多行的块注释
        这个多行的块注释
        这个多行的块注释

h1 conditional comments 条件注释
