doctype html

title doctype html 的版本声明

html(lang="en")

h1 html 的类型声明
- let str = 'doctype html => <!DOCTYPE html>'
p= str

h1 xml 的类型声明
- str = 'doctype xml => <?xml version="1.0" encoding="utf-8" ?>'
p= str